In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import linear_model

In [4]:
df=pd.read_csv('insurance data.csv')

In [5]:
df

   age  height  weight  premium
0   25  162.56      70    18000
1   30  172.72      95    32000
2   35  167.64      78    40000
3   40     NaN     110    47000
4   45  157.48      85    55000

In [6]:
mean_height=df.height.mean()

In [7]:
df.height=df.height.fillna(mean_height)

In [8]:
df

   age  height  weight  premium
0   25  162.56      70    18000
1   30  172.72      95    32000
2   35  167.64      78    40000
3   40  165.10     110    47000
4   45  157.48      85    55000

In [9]:
reg=linear_model.LinearRegression()

In [10]:
reg.fit(df[['age','height','weight']],df['premium'])

LinearRegression()

In [11]:
reg.coef_

array([2009.46501319,  501.71220028,  -56.72906086])

In [12]:
reg.intercept_

-109794.49399687737

In [22]:
reg.predict()

TypeError: predict() missing 1 required positional argument: 'X'